*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeae7;
    font-family: sans-serif;
}
.header-container{
    display: flex;
}
.head-wraper{
    display: flex;
}
.header-greet{
    margin: 1em;
}
.profile-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 0.5em;
    margin-left: 0.5em;
}
.profile-greet{
    font-weight: 500;
}

.profile-svg{
    width: 100px;
    margin-top: -1.9em;
}
.emoji-btn{
    background-color: #e6dad0;
    width: 2em;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0.3em;
}
.input-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 0.2em 0.2em 3px black;
    background-color: #e6dad0;
    border-radius: 0.5em;
    margin: -2em 0.625em 1.25em 0.625em;
}
.search-inp{
    border: none;
    border-radius: 0.4em;
    background-color: transparent;
    width: 90%;
    padding: 1em;
    font-weight: bold;
}
.search-inp:focus{
    outline: none;
}
.input-container button{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: #141416;
    color: #d95d39;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.input-container button i{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.input-container button:active{
    background-color: #d95d39;
    color:#141416;
}
.body-container{
    background-color: #d95d39;
    height: 100vh;
    border-top-right-radius: 2.5em;
    border-top-left-radius: 2.5em;
    padding-top:1.5em;
    overflow:scroll;
}
.songs-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: #141416;
    color: whitesmoke;
    position: relative;
    border-radius: 1em;
    height: fit-content;
    margin: 1em auto;
    box-shadow: 4px 4px gray;
}
.artist-name{
    background-color: #2b2b2d;
    text-align: center;
    margin: 0.7em;
    margin-bottom: 0.1em;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    box-shadow: 0px 0px 5px #2b2b2d;
    width: fit-content;
    font-weight: bold;
}
.song-name{
    font-size: 1.5rem;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
}
.release-date{
    margin-left: 0.8em;
    padding-bottom: 0.8em;
    color: #e6dad0;
}
.song-previewBtn{
    border: none;
    font-size: 2rem;
    background-color: transparent;
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
    position: absolute;
    top: 1.5em;
    right: 1.23em;
}.song-previewBtn:active{
    color: yellow;
}
.songs-container img{
    width: 100px;
    height: 100px;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 40px black;
}

@media (min-width:430px){
    .profile-img{
        width: 90px;
        height: 90px;
    }
    .input-container{
        margin-top: 0.5em;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
    }
    .head-wraper{
        display: flex;
    }
}